.filters input[type="radio"] {
    display: none;
}

.filters label {
  display: inline-block;
  font-weight: 700;
  padding: 4px 8px;  
  cursor: pointer;
}

.filters input[type="radio"]:checked+label {
  color: hsl(220, 98%, 61%);
  
}

@media (max-width: 880px){
  .filters label {
    display: inline-block;
    font-weight: 700;
    padding: 4px 4px;  
    cursor: pointer;
  }
}